@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<div class="text-center">
    <h1>Welcome to the Selfcare home page!</h1>
    <b>Enjoy the full range of features we offer</b>
</div>