@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<div class="text-center">
    <h1>Hello and Welcome</h1><br />
    <p2>Or if you want to create a patient:</p2><br /><br />
    <a asp-page="/login">Login</a><br /><br />
    <a asp-page="/practitioner/createpatient">Create Patient</a><br /><br />
    <div><button type="button" onclick="loadTable()">Load Table</button></div>


    <div id="tableContainer"></div>

    <script>
        function loadTable() {
            $.ajax({
                url: '/index?handler=Partial',
                method: 'GET',
                async: true,
                success: function (data) {
                    console.log('Success. Data:', data);
                    $('#tableContainer').html(data);
                },
                error: function (xhr, status, error) {
                    console.error('Error loading table:', error);
                }
            });
        }
    </script>
</div>