@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <button type="button" onclick="loadTable()">Load Table</button>

    <div id="tableContainer"></div>

    <script>
        function loadTable() {
            $.ajax({
                url: '/index?handler=Partial',
                method: 'GET',
                async: true,
                success: function (data) {
                    console.log('Success. Data:', data);
                    $('#tableContainer').html(data);
                },
                error: function (xhr, status, error) {
                    console.error('Error loading table:', error);
                }
            });
        }
    </script>
</div>