@page
@model SelfCare.Pages.Patient.EditNoteModel
@{
    <form method="post" asp-page-handler="EditNote">

        <p1>Note's Name</p1><br />
        <textarea asp-for="noteName"></textarea><br />

        <span asp-validation-for="noteName"></span><br />

        <textarea asp-for="noteBody"></textarea>
        <input type="hidden" name="noteId" value="@Model.editNote.NoteId" />
        <br />
        <button type="submit" asp-page-handler="EditNote">Save Note</button>

    </form>
    @ViewData["SaveResponse"]
    @section scripts {
        <partial name="_ValidationScriptsPartial" />
    }
    @if (ViewData["Error"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewData["Error"]");
            };
        </script>
    }
}
