@page
@model SelfCare.Pages.Patient.EditNoteModel
@{
    <form method="post" asp-page-handler="CreateNote">
        <textarea asp-for="editNote.Title"> @Model.editNote.Title Test </textarea><br />
        <span asp-validation-for="editNote.Title"></span><br />
        <textarea asp-for="editNote.Body"> @Model.editNote.Body Test </textarea><br />
        <button type="submit" asp-page-handler="EditNote">Edit Note</button>
    </form>

    @section scripts {
        <partial name="_ValidationScriptsPartial" />
    }
    @if (ViewData["Error"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewData["Error"]");
            };
        </script>
    }
}
