@page
@model SelfCare.Pages.Practitioner.AddGpModel
@{
    <form method="post" asp-page-handler="CreateGP">
        <div>
            <p>Name Country</p><br />
            <input asp-for="Name" /> <input asp-for="Country" /><br />
            <span asp-validation-for="Name"></span><span asp-validation-for="Country"></span><br />
        </div>

        <div>
            <p>Address1 Address2 Address3 (Optional)</p><br />
            <input asp-for="Address1" /> <input asp-for="Address2" /> <input asp-for="Address3" /><br />
            <span asp-validation-for="Address1"></span><span asp-validation-for="Address2"></span><br />
        </div>

        <div>
            <p>Town County Postcode</p><br />
            <input asp-for="Town" /> <input asp-for="County" /> <input asp-for="Postcode" /><br />
            <span asp-validation-for="Town"></span><span asp-validation-for="County"></span><span asp-validation-for="Postcode"></span><br />
        </div>

        <div>
            <br />
            <Input type="submit" value="Create GP">
        </div>
        <div>@ViewData["Response"]</div>
    </form>
    @section scripts {
        <partial name="_ValidationScriptsPartial" />
    }
}
