@page
@model SelfCare.Pages.Practitioner.IndexModel
@{
    <h1>You're A Practitioner</h1>
    <a asp-page="/practitioner/Gps">GPs</a>
    <br />
    <br />
    <a asp-page="/practitioner/CreateGp">Create GP</a>
    <br />
    <br />
    <a asp-page="/practitioner/CreatePatient">Create Patient</a>
    <br />
    <br />
}
